.film-navigation{

}
.film-navigation-wrap{
    padding: 0;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42),
                0 3px 20px 0 rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-bottom: 0;
}
.navbar-menu-element{
    margin: 5px 0 5px;
}

@media (max-width: 991px){
    p.navbar-menu-element{
        margin-left: 0;
    }
}

.form-search{
    margin-top: 10px;
}

.form-search input{
    background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#ffffff, #ffffff);
}

.form-search input:focus{
    background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#ffffff, #ffffff);
}
